img{
	max-width: 100%;
}

@media (max-width: 1366px){
	section#one .container {
	  padding-top: 5%;
	}
	#corner-upper {
	  top: 0;
	  left: -25%;
	}
	#corner-lower {
	  bottom: -4px;
	  right: -25%;
	}

	section#two .design-right {
	  top: 10%;
	  right: -25%;
	}
	section#two .design-left {
	  top: 25%;
	  left: -15%;
	}
	h3 {
	  color: #fff;
	  font-size: 45px;
	  line-height: 120%;
	}
	h1 {
	  font-size: 60px;
	  letter-spacing: 0.1em;
	}
	h4 {
	  font-size: 35px;
	  line-height: 120%;
	  width: 80%;
	}
	.example{
		width: 60%;
	}
	.orange .example{
		float: right;
	}
	small{
		display: none;
	}
	section.orange .design-left{
		left: -10%;
	}
}